<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--<property name="connection.url"/>
    <property name="connection.driver_class"/>-->
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">dzb1574</property>
    <!--mysql 5.0以后，要加cj-->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vacmag?useUnicode=true&amp;characterEncoding=UTF-8</property>

    <!--C3P0-->
    <property name="hibernate.c3p0.acquire_increment">10</property>
    <property name="hibernate.c3p0.idle_test_period">10000</property>
    <property name="hibernate.c3p0.timeout">5000</property>
    <property name="hibernate.c3p0.max_size">30</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_statements">10</property>

    <!--数据库方言-->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <!--打印sql语句-->
    <property name="show_sql">true</property>
    <!--格式化sql语句-->
    <property name="format_sql">true</property>
    <!--自动生成数据表-->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!--注册实体关系映射文件-->
    <mapping resource="com/entity/User.hbm.xml"></mapping>

  </session-factory>
</hibernate-configuration>